body{
    color: #181818;
    background: #F4F4F4;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.printerOnly{
    display: none;
}

p{
    margin-bottom: 5px;
}

a{
    background: url(../_img/link.png) no-repeat;
    background-position: right;
    color: #181818;
    padding-right: 12px;
    text-decoration: none;
    line-height: 1em;
}

a.nopic{
    background: none;
    padding-right: 0;
    text-decoration: underline;
}

a:hover{
    text-decoration: underline;
}

a.direct{
    background: none;
    padding-right: 0;

}

#backButton{
    background: url(../_img/backArrow.png) 0 1px no-repeat;
    padding-left: 17px;
    position: fixed;
    top: 10px;
    left: 10px;
}

#printerFriendly{
    color: #bbb;
    position: absolute;
    top: 10px;
    right: 440px;
}

#paper{
    background: #FFF;
    border: 1px solid black;
    margin: 30px auto;
    padding: 30px;
    position: relative;
    width: 920px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
}

#addressBox{
    font-weight: bold;
    position: absolute;
    right: 36px;
    text-align: right;
    top: 45px;
}

h1{
    color: #268CFF;
    font-family: 'Anton', sans-serif;
    font-size: 46px;
    font-weight: normal;
    line-height: 1.2em;
}

h2{
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 30px;
}

h3{
    border-bottom: 1px solid #CCCCCC;
    /*    font-family: 'Anton', sans-serif;*/
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.profile{
    margin-bottom: 30px;
}

.years{
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.entry{
    margin-bottom: 30px;
}

.entrySection{
    margin-left: 220px;
    width: 600px;
}

.entrySectionCenter{
    margin: 0 auto;
    padding-top: 20px;
    width: 600px;
}

.entryName{
    font-weight: bold;
}

.entrySubText{
    color: #999;
}

.entrySection li{
    background: url(../_img/bullet.gif) 0 9px no-repeat;
    padding-left: 12px;
    padding-top: 2px;
}

ul.reference{
    float: left;
    margin-bottom: 20px;
    padding-right: 25px;
}

ul.reference li.name{
    font-weight: bold;
}

#left{
    float: left;
}

#right{
    float: left;
    padding-left: 30px;
}

.clearer{
    clear: both;
}

.spacer{
    display: none;
}

/*Expand/Collapse Button*/
#expander{
    background: #FFF;
    border: 1px solid #268CFF;
    border-top: none;
    cursor: pointer;
    padding: 7px 5px 0px 5px;
    position: absolute;
    top: 0px;
    left: 400px;
    text-align: center;
    width: 171px;
    overflow: hidden;
    height: 27px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#expander:hover{
    
    background: #268CFF;
    border-color: #000;
}

#expander span#expand{

}

#expander span#collapse{
    display: none;
}

ul.inDepth{
    /*    display: none;*/
}